@use '../scss/mixins' as *;

// Reset <button>
button {
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: transparent;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafbfa;

    // Centrando el contenido
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: space-between;
}

.button {
    color: #fff;
    padding: .15em 0;
    font-weight: 500;
    border: .125em solid;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;;
    // min-width: var(--min-width-button);
    // font-size: var(--font-size-button);

    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }


    &-blue {
        background-color: blue;
        border-color: blue;
    }

    &-round {
        border-radius: 2em;
    }
}

