@use '../scss/mixins' as *;



// button-color
$green-light: #00bb2d;
$green-dark: #24a319;
$green-darker: #247719;

$blue-light: #1F51FF;
$blue-dark: #0034eb;
$blue-darker: #002fd2;

$orange-red-light: #ff6227;
$orange-red-dark: #ff4500;
$orange-red-darker:  #eb4000;


// Reset <button>
button {
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: transparent;

    &:focus {
        outline: none;
    }
}


.container {
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafbfa;

    // Centrando el contenido
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: space-between;
}

.button {
    color: #fff;
    padding: .3em 0;
    min-width: 13em;
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 2rem;
    border: .125em solid;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0.0625rem 0.0625rem rgba(0,0,0,.3);

    &:last-child {
        margin-bottom: 0;
    }

    &-round {
        border-radius: 2em;
    }

    &-green {
        border-color: $green-light;
        background-color: $green-light;
    }

    &-green:hover {
        @include from(large) {
            cursor: pointer;
            border-color: $green-dark;
            background-color: $green-dark;
        }
    }

    &-green:active {
        top: 0.125rem;
        border-color: $green-darker;
        background-color: $green-darker;
    }

}

